
@{
    ViewBag.Title = "Video Chat";
}

<div class="jumbotron">
    <h1>Video Chat with SSE</h1>
    <p class="lead">Server Sent Events is a technology that allows a web application to receive updates from the server via HTTP automatically without constatly checking the server.
    <br />
    This means that the server is not going to be receiving constant requests just to check if there is new data. </p>
    <p><a href="http://www.w3.org/TR/eventsource/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>
<div class="alert alert-warning" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Warning</span>
    IE does not support SSE.
</div>
<div class="row">
    <div class="col-md-12">
        <h3>To Start the video chat enter your user name</h3>
        <form method="post">
            <input type="text" id="userName" name="userName" class="form-control" placeholder="Enter your user name here"/>
            <br />
            <button type="submit" class="btn btn-success">Go to Chat</button>
        </form>
        
    </div>
    
</div>